.js-filter {
    display: flex;
    flex-direction: row;
}
.sidebar,
%sidebar {
    float: left;
    min-width: 300px;
    padding-right: 8px;
}
.main {
    float: right;
    //width: calc(100% - 300px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 16px;
}

@media only screen and (max-width: 768px) {
    .js-filter {
        display: flex;
        flex-direction: column;
    }
}